* {
    box-sizing: border-box;
    margin: 0;
    padding: 6px;
    --colorGray: rgb(218, 218, 218);
    --colorBlue: #2e57d3;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family:  'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
}
h2{
    font-family: 'Playfair Display', serif;
    color: #10242b;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 30px;
}
::selection {
    background-color: var(--colorBlue);
    color: white;
}

input {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 22px;
    font-variant: small-caps;
    text-transform: lowercase;
}

div{
    margin:1%;
    display: flex;
}

p:first-child, p:nth-child(2){
    flex-direction: row;
    margin: 0 10px;
    background-color: var(--colorBlue);
    font-variant: small-caps;
    text-transform: lowercase;
    color: white;
padding: 4px 10px;}

button {
    font-variant: small-caps;
    margin: 0 20px;
    padding: 10px 20px;
    background: none;
    border: 1px solid var(--colorGray);
    border-radius: 5px;
    color: black;
    font-size: 24px;
    text-transform: lowercase;
    cursor: pointer;
    transition: color .3s, box-shadow .3s;
    box-shadow: 3px 3px 10px var(--colorGray);
    margin-bottom: 36px;;
}

button:hover {    box-shadow: 3px 3px 10px #505050;
} 